body {
  background: #FFFFFF;
  margin: 0;
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-wrapper {
  background-color: #F9F9F9;
  margin: auto;
  margin-top: 50px;
  width: 770px;
}

.text-input {
  margin:auto;
  width: 100%;
  height: 28px;
  border: 2px solid #FFFFFF00;
  border-radius: 20px;
}

.text-input:hover {
  border: 2px solid #5D6E97;
}

.date-picker {
  margin:auto;
  width: 100%;
  height: 28px;
  border: 2px solid #FFFFFF00;
  border-radius: 20px;
}

.date-picker:hover {
  border: 2px solid #5D6E97;
}

.buttons-wrapper {
  margin-right: 20px;
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: flex-end;
}

.action-button {
  background-color: #4A9DFF;
  border-radius: 10px;
  border: none;
  color: white;
  height: 38px;
  margin-top: 10px;
  width: 120px;
}

.metrics-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.metrics-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #5D6D97;
}

.popup-overlay {
  background-color:#000000B5;
}

.popup-content {
  background-color: white;
  padding: 20px;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  gap: 5px;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popup-message {
  white-space: pre-line;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #5D6D97;
}

.popup-action-button {
  background-color: #4A9DFF;
  border-radius: 10px;
  border: none;
  color: white;
  height: 38px;
  margin: auto;
  margin-top: 10px;
  width: 120px;
}